<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Pedidos</title>
    <link rel="stylesheet" href="C:\Users\Henry\Documents\NetBeansProjects\PI\GestorDePedidos\src\main\resources\static\styles.css">
</head>
<body>
    <div class="painel">
        <!-- Cabeçalho com a logo -->
        <header>
            <div class="logo">
                <img src="image.png" alt="Logo Empresa">
            </div>
        </header>

        <!-- Banner abaixo do cabeçalho -->
        <div class="banner">
            <img src="" alt="">
        </div>

        <!-- Título "Pedidos Recebidos" -->
        <h1>Pedidos Recebidos</h1>
        <div class="pesquisa">
            <label for="codigoPedido">Buscar Pedido:</label>
            <input type="text" id="codigoPedido" placeholder="Digite o número do pedido">
            <button id="buscaPedido">Buscar</button>
        </div>

        <!-- Tabela de pedidos -->
        <table id="tabela">
            <thead>
                <tr>
                    <th>N. Pedido</th>
                    <th>Produto</th>
                    <th>Cliente</th>
                    <th>Status</th>
                    <th>Quantidade</th>
                    <th>Data de entrega</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
                
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
<div id="mensagem"></div>
        <!-- Botões abaixo da tabela -->
        <div class="botoes">
            <button class="ver-produtos">Ver Produtos</button>
            <button class="ver-clientes">Ver Clientes</button>
        </div>

        <!-- Botão "Novo pedido" abaixo -->
        <div class="novo-pedido">
            <button class="btn-novo-pedido">Novo Pedido</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"> </script>
<script>
$(document).ready(function () {

    $.get("http://localhost:3000/pedido", function(data, status){
                function resfazerTabela(){for (i = 0; i < data.length; i++)  {



            var novaLinha = "<tr><td>" + data[i].npedido + "</td><td>" + data[i].produto  + 
                 "</td><td>" + data[i].cliente  +  "</td><td>" + data[i].status  +  "</td><td>" + data[i].data_de_entrega  +
                  "</td><td>" + data[i].qtd  +"</td></tr>";
            $('#tabela tbody').append(novaLinha); 
            $('#mensagem').text("")
                 }}

resfazerTabela();

$('#buscaPedido').click(function(){
const codPedido=$('#codigoPedido').val();


$('#tabela tbody').empty();
$('#mensagem').text("")

if(codPedido){


    for (i = 0; i < data.length; i++){
    if(data[i].npedido==codPedido){
var pedEncontrado="<tr><td>" + data[i].npedido + "</td><td>" + data[i].produto  + 
                 "</td><td>" + data[i].cliente  +  "</td><td>" + data[i].status  +  "</td><td>" + data[i].data_de_entrega  +
                  "</td><td>" + data[i].qtd  +"</td></tr>";

                  $('#tabela tbody').append(pedEncontrado); 
                  $('#mensagem').text("")
                  break;
                 }else{

                    $('#mensagem').text("Não achamos pedidos com esse código")
             



                 }}
                 }else{
$('#mensagem').text("Não achamos pedidos com esse código")
resfazerTabela();


                 }














})


        });
    })


</script>

</body>
</html>